.narrative_tree {
    width: 80ex;
}

body {
    margin: 0 0;
    background-color: #eee;
    font-family: 'texgyrescholaregular';
    font-size: 14px;
    line-height: 1.2;
}

.center {
    width: 520px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    height: 100%;
}

h1 {
    font-family: 'texgyrescholabold';
}
